.select {
  width: 28px;
  position: relative;
  font-size: 9.28px;
  line-height: 100%;
  font-family: Inter;
  color: #1e1e1e;
  text-align: left;
  display: inline-block;
}
.button {
  width: 191px;
  position: relative;
  border-radius: 4.64px;
  background-color: #e3e3e3;
  border: 0.6px solid #767676;
  box-sizing: border-box;
  height: 23.2px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: 9.28px;
  color: #1e1e1e;
  font-family: Inter;
}
.b {
  position: relative;
  font-size: 27.85px;
  letter-spacing: -0.02em;
  line-height: 120%;
  font-family: Inter;
  color: #1e1e1e;
  text-align: right;
}

.price {
  position: absolute;
  top: 10.43px;
  left: 120.43px;
  width: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.header {
  position: relative;
  width: 191.9px;
  height: 55.1px;
  font-size: 27.85px;
}
.whichCountryIs {
  width: 193px;
  font-size: 14px;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 120%;
  font-weight: 600;
  display: inline-block;
}
.dueIn24h {
  top: 4px;
  position: relative;
  font-size: 9px;
  letter-spacing: -0.02em;
  line-height: 120%;
  color: #6d6d6d;
}
.whichCountryIsTheWinnerParent {
  position: relative;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 13.93px;
  color: #000;
}
.title {
  flex: 1;
  position: relative;
  line-height: 140%;
  font-weight: 600;
}
.chevronDownIcon {
  width: 10.8px;
  position: relative;
  height: 10.8px;
  overflow: hidden;
  flex-shrink: 0;
}
.accordionTitle {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 4.4px;
  background-color: #f5f5f5;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  width: 191px;
  height: 29.3px;
  display: flex;
  font-size: 10.8px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 16px;
}

.accordionItemWrapper {
  width: 100%;
  position: relative;
  height: 49.3px;
  text-align: left;
  font-size: 8.65px;
  color: #1e1e1e;
  font-family: Inter;
}
.pricingCard {
  width: 100%;
  position: relative;
  border-radius: 4.64px;
  background-color: #fff;
  border: 0.6px solid #d9d9d9;
  box-sizing: border-box;
  height: 268.6px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 19px 9px;
  gap: 6px;
  min-width: 174.07px;
  text-align: left;
  font-size: 9.28px;
  color: #1e1e1e;
  font-family: Inter;
}
